<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.5/bootstrap.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.5/bootstrap-theme.css">-->
    <link rel="stylesheet" type="text/css" href="css/angular-material-1.1.0/angular-material.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body layout="column" ng-app="MyApp" class="bkgrnd" ng-cloak>
<div layout="row" style="margin-top: 24px;" class="md-whiteframe-3dp">
    <div flex flex-offset="80"></div>

    <div flex class="three">
        <md-input-container>
            <label>Username</label>
            <input type="text" ng-model="user.name">
        </md-input-container>
        <md-input-container>
            <label>password</label>
            <input type="password" ng-model="user.password">
        </md-input-container>
    </div>
</div>


</body>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
<!--<script src="js/jquery-2.2.3/jquery-2.2.3.min.js"></script>-->
<!--<script src="js/bootstrap-3.3.5/bootstrap.min.js"></script>-->
<!--<script src="js/angular-material-1.1.0/angular-material.min.js"></script>-->
<!--<script src="js/angular-2.0.0-beta.14/angular2-polyfills.js"></script>-->
<!--<script src="js/angular-2.0.0-beta.14/angular2.dev.js"></script>-->
<script src="js/angular-1.3.15/angular.min.js"></script>
<script src="js/angular-1.3.15/angular-animate.min.js"></script>
<script src="js/angular-1.3.15/angular-aria.min.js"></script>
<script src="js/angular-material-1.1.0/angular-material.min.js"></script>
<script src="js/angular-material-icons-0.7.0/angular-material-icons.min.js"></script>
<script>
    angular.module('MyApp', ['ngMaterial', 'ngMdIcons']);
</script>
</html>